<h1>Welcome!</h1>
<hr>

<div class="content">
  <router-outlet></router-outlet>
</div>

<hr>
<footer>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ducimus corrupti libero sapiente delectus, fugit quaerat eligendi autem rerum maiores laborum incidunt at ut voluptatibus architecto amet debitis esse. Iste.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum id placeat porro voluptate voluptates deserunt corporis aspernatur omnis, ea at doloribus ipsa quisquam nisi atque natus ipsam vitae, numquam recusandae.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas similique culpa praesentium nostrum, eum consequuntur ex animi fuga nesciunt, error, molestiae laborum! Id alias, ipsum obcaecati ab error soluta dolores!</p>
</footer>