<footer>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illum fugit dignissimos non maiores dolorem ipsa vel, impedit, nostrum accusantium perspiciatis provident expedita iusto beatae rem. Voluptate illum odit assumenda.</p>
    <mat-divider></mat-divider>
    <p>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
        Phone: +36/80-955-63-11
    </p>
    <p>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
        Email: lorem@ipsum.dolor
    </p>
</footer>