h1 {
    color: seagreen;
    border-bottom: 1px solid seagreen;
}

th, td {
    vertical-align: middle;
}

.user-image {
    width: 40px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 40px;
    transform: scaleX(-1);
}