p {
    color: red;
}

.highlight {
    background-color: bisque;
}

.extra-font {
    text-decoration: overline;
    font-size: 20px;
    color: blueviolet;
}

#very-important {
    color: teal;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}

