<h1>Teachers</h1>

<mat-card class="example-card" *ngFor="let teacher of teachers">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{ teacher.name }}</mat-card-title>
            <mat-card-subtitle>{{ teacher.neptun }}</mat-card-subtitle>
            <img mat-card-sm-image [src]="teacher.image">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <div *ngIf="teacher.taughtSubjects.length > 0; else noElementsToDisplay">
            <button
                mat-stroked-button
                *ngFor="let subject of teacher.taughtSubjects"
                [routerLink]="['/update-subject/', subject.id]"
            >
                {{ subject.name }} - {{ subject.neptun }} - ({{ subject.credit }})
            </button>
        </div>
        <ng-template #noElementsToDisplay>
            There aren't any teached subjects.
        </ng-template>
        <mat-divider></mat-divider>
        <p class="teacher-id">{{ teacher.id }}</p>
        <mat-divider></mat-divider>
        <button
            mat-stroked-button
            [routerLink]="['/update-teacher/', teacher.id]"
        >
            <mat-icon aria-hidden="false" aria-label="Edit icon" fontIcon="edit"></mat-icon>
            Edit
        </button>
    </mat-card-content>
</mat-card>

<div id="clear"></div>