<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Vue TO DO manager</title>
    
    <style>
        body { padding: 40px; padding-left: 60px; }
    </style>
</head>
<body>
    <h1>Vue TO DO manager</h1>
    <hr>
    <div id="app">

        <h1>TODOS: <span class="badge" :class="todoCounterColor">{{ todoCounter }}</span></h1>
    
        <hr>
    
        <todo-item
            v-for="todo in todos"
            v-bind:text="todo.text"
            v-bind:type="todo.type"
            v-bind:tags="todo.tags"
            v-bind:key="todo.text"
        ></todo-item>
    
        <hr>
    
        <input v-model="newTodo.text" placeholder="Todo text" class="form-control mb-3">
    
        <div class="form-group">
            <select v-model="newTodo.type" class="form-control">
                <option disabled>Please select one</option>
                <option v-for="type in todoTypes" :value="type.value">
                    {{ type.text }}
                </option>
            </select>
        </div>
    
        <div class="form-group">
            <select v-model="newTodo.tags" multiple class="form-control">
                <option disabled>Please select one</option>
                <option v-for="tag in tagOptions">
                    {{ tag }}
                </option>
            </select>
        </div>
    
        <button class="btn btn-success btn-block" v-on:click="addNewTodo">Add To Do</button>
    
        <hr class="my-5">
    
        <input v-model="newTag" placeholder="Tag text" class="form-control mb-3">
    
        <button class="btn btn-primary btn-block" v-on:click="addNewTag">Add Tag</button>
    
    </div>

    <script type="module">

        import TodoItem from './todo-item.js'

        const { createApp } = Vue

        createApp({
            components: {
                TodoItem
            },
            data() {
                return {
                    newTodo: { text: "", type: "Please select one", tags: []},
                    newTag: "",
                    todoTypes: [
                        { text: "primary", value: "alert-primary" },
                        { text: "danger", value: "alert-danger" },
                        { text: "warning", value: "alert-warning" },
                        { text: "success", value: "alert-success" }
                    ],
                    tagOptions: [
                        "new", "urgent", "pending", "personal", "work"
                    ],
                    todos: [
                        { text: "", type: "", tags: [] },
                    ]
                }
            },
            computed: {
                todoCounter: function () {
                    return this.todos.length
                },
                todoCounterColor: function () {
                    if(this.todos.length > 8)
                        return "badge-danger"
                    else
                        return "badge-success"
                }
            },
            methods: {
                addNewTodo: function () {

                    this.todos.push(this.newTodo) // TODO add error handling if not correctly selected todo type is wanted to be added
                    this.newTodo = { text: "", type: "Please select one", tags: [] }

                    // TODO add API call for CREATE

                },
                addNewTag: function () {
                    this.tagOptions.push(this.newTag)
                    this.newTag = "" // reset back
                },
                fetchData: async function () {
                    const url = 'https://gist.githubusercontent.com/siposm/86860e30a000a5dca4b0855f7644bcf2/raw/ec987cdc3680b22e13595c3044e659d574be4448/todos.json'
                    this.todos = (await (await fetch(url)).json()).todos
                    console.log(this.todos);
                }
            },
            created() {
                this.fetchData()
            },
        }).mount('#app')

    </script>
</body>
</html>